<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="/" class="header__logo">YOUR ENERGY</a>
      
      <nav class="header__nav">
        <a href="/" class="header__nav-link header__nav-link--active">Home</a>
        <a href="/favorites.html" class="header__nav-link">Favorites</a>
      </nav>

    </div>
  </div>
</header>

    <!-- Socials -->
    <ul class="header-socials">
      <li>
        <a href="#" aria-label="Facebook">
          <img src="./img/svg/facebook-dark.svg" alt="Facebook" />
        </a>
      </li>
      <li>
        <a href="#" aria-label="Instagram">
          <img src="./img/svg/instagram-dark.svg" alt="Instagram" />
        </a>
      </li>
      <li>
        <a href="#" aria-label="YouTube">
          <img src="./img/svg/youtube-dark.svg" alt="YouTube" />
        </a>
      </li>
    </ul>
  </div>
</header>
