@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  /* Fonts */
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  /* Colors */
  --white: #ffffff;
  --black: #040404;

  --primary-color: #1c1c1c;
  --secondary-color: #242424;

  --text-secondary: rgba(0, 0, 0, 0.6);
  --border-color: rgba(0, 0, 0, 0.08);

  background-color: #fff;
  color: #040404;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
  background-color: #fff;
  color: #040404;
}

main {
  flex: 1;
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

button,
input,
textarea,
select {
  font-family: 'DM Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
}

a {
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
  color: inherit;
}